body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 6px;
}

.content {
  background: #e3f4ff;
  padding-left: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  margin-bottom: 8px;
  text-align: center;
  padding: 6px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px;

}